{% extends "report/_base.jinja" %}

{% block CONTAINER %}

<div class="row">
    <div class="title twelve columns">
        <h1>{% block TITLE %}{% endblock %}</h1>
    </div>
</div>
{% block DATA_REPORT %}

{% endblock %}

{% endblock %}
