<!doctype html>
  <head>
    {% block HEAD %}
      <title>{% block TITLE %}{% endblock %}</title>
      {% include "_head.jinja" %}
      {% block LOCAL_HEAD %}{% endblock %}
    {% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='global.css') }}">

  </head>

  <body class="uk-grid uk-align-center uk-justify-center">
    {% block CONTENT %}{% endblock %}
    {% block FOOTER_SCRIPTS %}
      {% include "_foot.jinja" %}
      {% block LOCAL_FOOTER_SCRIPTS %}{% endblock %}  
    {% endblock %}
  </body>
</html>