<link rel="stylesheet" href="{{ url_for('static', filename='css/uikit.min.css') }}">

<script src="{{ url_for('static', filename='js/uikit.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/uikit-icons.min.js') }}"></script>