{% extends "_base.jinja" %}

{% set title = "Account" %}
{% block TITLE %}{{ title }}{% endblock %}

{% block CONTENT %}
<div>
<div class="uk-grid-small uk-child-width-1-2@s uk-flex-center uk-text-center" uk-grid>
    <div>
        <div class="uk-card uk-card-primary uk-card-body">
        <h3 class="uk-card-title">MY ACCOUNT</h3>

        <table class="uk-table uk-table-middle uk-table-divider uk-text-left">
        <tbody>
        {# TODO: Refactor this uglyness. It works for now :) #}
            {% for field in form %}
                {% if field.label.text == 'gender' %}
                    <tr><td>{{ field.label.text|upper }}</td><td>{{ field.object_data.value or "" }}</td></tr>
                {% elif field.label.text == 'email' %}
                    <tr><td>{{ field.label.text|upper }}</td><td>{{ mask(field.data, pattern=mask.EMAIL) }}</td></tr>
                {% elif field.label.text == 'phone' %}
                    <tr><td>{{ field.label.text|upper }}</td><td>{{ mask(field.data.international, 4, 2) }}</td></tr>
                {% else %}
                    <tr><td>{{ field.label.text|upper }}</td><td>{{ field.data or "" }}</td></tr>
                {% endif %}           
            {% endfor %}
        <tbody>
        </table>
        <a href="{{ url_for('account-delete') }}"><button class="uk-button uk-button-danger">Delete</button></a>
    </div>
</div>
{% endblock %}