{% extends "_base.jinja" %}

{% from "_formhelpers.jinja" import r_info_from_str %}
{% from "_formhelpers.jinja" import r_info_field %}

{% set title = "Account" %}
{% block TITLE %}{{ title }}{% endblock %}

{% block CONTENT %}
 
    <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar="mode: click">

        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav uk-flex-between uk-logo">
                <h1 class="uk-heading-bullet"><span>Account</span></h1>
            </ul>
        </div>

        <div class="uk-navbar-right uk-margin-right uk-flex-around">
            <form class="uk-margin-right" action="{{ url_for('data-report') }}" method="post">
                {{ form.csrf_token }}
                <button class="uk-button uk-button-text" type="submit" uk-tooltip="Download your data!">
                    <span uk-icon="icon: download; ratio: 2"></span>
                </button>
            </form>

            <form class="uk-margin-right" action="{{ url_for('account-delete') }}">
                {{ form.csrf_token }}
                <button class="uk-button uk-button-text" type="submit" uk-tooltip="Delete your data!">
                    <span uk-icon="icon: trash; ratio: 2"></span>
                </button>
            </form>

            <form class="uk-margin-right" action="{{ url_for('signout') }}" method="get">
                {{ form.csrf_token }}
                <button class="uk-button uk-button-text" type="submit" uk-tooltip="Log out!">
                    <span uk-icon="icon: sign-out; ratio: 2"></span>
                </button>
            </form>
        </div>

    </nav>

    <div class="uk-grid uk-column-1-3">

        <div class="uk-card uk-card-body uk-width-expand">
            <ul class="uk-nav-default uk-nav-parent-icon" uk-nav>
            
                <li><a href="{{ url_for('personal-info') }}" class="uk-text-large uk-button-text">
                <span class="uk-margin-small-right" uk-icon="icon: user"></span> 
                    Personal Info
                </a></li>

                <li>
                <a href="{{ url_for('address-info') }}" class="uk-text-large uk-button-text"><span class="uk-margin-small-right" uk-icon="icon: location"></span>
                    Address 
                </a></li>


                <li>
                <a href="{{ url_for('payments-info') }}" class="uk-text-large uk-button-text"><span class="uk-margin-small-right" uk-icon="icon: credit-card"></span>
                    Payment
                </a></li>

            </ul>
        </div>

        <div class="uk-card uk-card-default uk-card-body uk-width-3-4 uk-card-medium uk-margin-right">
        
            <div class="uk-flex uk-align-center uk-flex-around uk-flex-middle"> 
                <h3 class="uk-card-title">
                    Personal Information
                </h3>
            </div>

            <table class="uk-table uk-table-middle uk-table-divider uk-text-left">
                <tbody class="uk-column-1-2">
                    {{ r_info_from_str(form.email.label, mask(form.email.data, pattern=mask.EMAIL)) }}
                    {{ r_info_from_str(form.phone.label, form.phone.data and mask(form.phone.data.e164, 4, 2)) }}
                    {{ r_info_field(form.firstname) }}
                    {{ r_info_field(form.lastname) }}
                    {{ r_info_field(form.income) }}
                    {{ r_info_field(form.age) }}
                    {{ r_info_from_str(form.gender.label, form.gender.object_data.value) }}
                <tbody>
            </table>
        </div>

    </div>
{% endblock %}

