{% extends "_authentication.jinja" %}

{% set title = "SIGN UP" %}
{% block TITLE %}{{ title }}{% endblock %}
{% block FORM_TITLE %}{{ title }}{% endblock %}
{% block SUBMIT_BUTTON_NAME %}{{ title }}{% endblock %}